body.bombs {
  background: #bcd500;

  @include media-breakpoint-up(md) {
    background: #bcd500 center / contain no-repeat url('../images/bombs-bg.png');
  }

  tbody {
    td {
      //@include tassemedium();
      font-size: 2.5rem;
      font-weight: bold;

      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}
