body {
  background-color: #bcd500;
}

.navbar {
  width: 100vw;
}

.top-menu {
  width: 100vw;

  img {
    max-height: 1.8rem;

    @include media-breakpoint-up(md) {
      max-height: 4rem;
    }

    &.prize {
      max-height: 6rem;
    }
  }
}

.prize-item {
  @include media-breakpoint-up(lg) {
    margin-right: 30vw;
  }
}

.dipshit-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  @include media-breakpoint-up(md) {
    bottom: unset;
    top: 10vh;
  }

  .dipshits {
    img {
      width: 100%;
    }
  }
}

.bottom-menu {
  text-align: center;
  font-size: 5rem;
  a {
    @include tassemedium();
    text-transform: uppercase;
    color: #f71701 !important;
    -webkit-text-fill-color: #bcd500; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f71701;


    &:visited {
      color: #f71701 !important;
      -webkit-text-fill-color: #bcd500 !important; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px !important;
      -webkit-text-stroke-color: #f71701 !important;
    }
  }


  @include media-breakpoint-up(md) {
    margin-top: 70vh;
  }
}
