@font-face {
  font-family: 'plaak56-expanded_black';
  src: url('../fonts/plaak-56-expandedblack-webfont.woff2') format('woff2'),
  url('../fonts/plaak-56-expandedblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'tassemedium';
  src: url('../fonts/tasse-medium-webfont.woff2') format('woff2'),
  url('../fonts/tasse-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}