@font-face {
  font-family: 'plaak56-expanded_black';
  src:
    url('../fonts/plaak-56-expandedblack-webfont.woff2') format('woff2'),
    url('../fonts/plaak-56-expandedblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tassemedium';
  src:
    url('../fonts/tasse-medium-webfont.woff2') format('woff2'),
    url('../fonts/tasse-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin tassemedium($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'tassemedium', Helvetica, Arial, sans-serif;

  @if $size { font-size: $size; }

  @if $colour { color: $colour; }

  @if $weight { font-weight: $weight; }

  @if $lh { line-height: $lh; }
}

@mixin plaak56($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'plaak56-expanded_black', Helvetica, Arial, sans-serif;

  @if $size { font-size: $size; }

  @if $colour { color: $colour; }

  @if $weight { font-weight: $weight; }

  @if $lh { line-height: $lh; }
}
