body.schedule {
  background: #bcd500;

  @include media-breakpoint-up(md) {
    background: #bcd500 center 12rem / contain no-repeat url('../images/schedule-bg.png');
  }

  @include media-breakpoint-up(lg) {
    background: #bcd500 center 2.8rem / contain no-repeat url('../images/schedule-bg.png');
  }

  .bottom-menu {
    margin-top: 10vh;
  }

  h1 {
    @include plaak56();

    font-size: 3rem;
  }

  .schedule-card {
    @include plaak56();

    .date {
      border-bottom: 0.25rem solid $white;

      span {
        font-size: 0.85rem;
        line-height: 0.85rem;
      }
    }

    .teams {
      span {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    .score {
      span {
        color: #f00;
        font-size: 3rem;
        //line-height: 3rem;
      }
    }
  }

  .archive-list {
    a {
      color: $white;

      &:visited {
        color: $white;
      }
    }
  }
}
