body.teams {
  background: #bcd500;

  @include media-breakpoint-up(md) {
    background: #bcd500 center 12rem / contain no-repeat url('../images/teams-bg.png');
  }

  @include media-breakpoint-up(lg) {
    background: #bcd500 center 2.8rem / contain no-repeat url('../images/teams-bg.png');
  }

  .last {
    @include media-breakpoint-up(md) {
      margin-bottom: rem(244px);
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(122px);
    }
  }

  .team-card {
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    .team-logo {
      height: 10rem;
      display: flex;

      @include media-breakpoint-up(md) {
        height: 7.6rem;
      }

      img {
        height: 100%;
      }
    }

    .team-name {
      @include plaak56();

      font-size: 3rem;
      font-weight: 700;
      line-height: 3rem;
      //font-weight: bold;
    }

    .player {
      @include plaak56();

      font-size: 1.25rem;
    }
  }
}
